.accordion {
  max-width: 400px;
  margin: 0 auto;
}

.accordion-item {
  overflow: hidden;
  margin-bottom: 2px;
}

.accordion-header {
  padding: 10px;
  background-color: #d7d7d7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
}

.accordion-body {
  overflow: hidden;
  background-color: #ececec;
  font-size: 12px;
}

.accordion-body-inner > div{
  padding: 10px;
}